@import "variables";

body {
  font-size: 16px;
  line-height: 24px;
  min-height: 100vh;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  color: $primary;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 800px;
  margin: auto;
}
