.eventDescription p{
  margin-top:0px;
  margin-bottom:0px;
}
.eventName {
  font-weight: 600;
}
.event {
  text-align: left;
  font-size: 20px;
}

.name {
  margin-bottom: 20px;
}

h1 {
  font-weight: bold;
}

.time_1 {
  text-align: right;
}
