.welcomeImage {
  max-width: 70%;
}

.h1Stuff {
  line-height: 1.2;
  max-width: 100%;
}

.separator {
  margin-bottom: 40px;
}

h3 {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 200%;
  line-height: 1.1;
}

.h3Differ {
  font-weight: bolder;
}
